
corpo * {
  transition: all 0.5s;
}
.recipiente {
  width: 100%;
  margin: 50px auto;
  padding: 5px;
  padding-left: 20px;
  psdding-right: 0;
}

.caixa {
  width: 30%;
  height: 250px;
  margin: 0.2%;
  padding: 15px;
  box-sizing: border-box;
  display: inline-block;
  background: #036C81;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  cursor: pointer;
}
.caixa .icon-cont {
  border: 6px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 20px auto;
  display: block; 
  text-align: center;
  
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 5;
  
  caixa-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);
}
.caixa .icon-cont i {
  color: #fff;
  opacity: 0.6;
  font-size: 2.5em;
  line-height: 75px;
}
.caixa:hover .icon-cont {
  animation: shady 4s linear infinite;
}

@keyframes shady {
  0% {caixa-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  20% {caixa-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  20.1% {caixa-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  50% {caixa-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  70% {caixa-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  70.1% {caixa-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  100% {caixa-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
}

.caixa h3 {
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,0);
  
  position: absolute;
  top: 125px;
  width: 100%;
  left: 0%;
  z-index: 4;
}
.caixa ul {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-indent: 30px;
  margin: 15px;
  margin-top: 200px;
  list-style-type: disc;
}
.caixa ul.hidden {
  opacity: 0;
}
.caixa a.expand {
  width: 80px;
  height: 35px;
  background: #fff;
  font-weight: 600;
  color: #036C81;
  display: block;
  margin: 15px auto 25px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  
}
.caixa a.expand span.minus {
  opacity: 0;
}
.caixa a.expand span.plus {
  opacity: 1;
  padding-left: 5px;
}
.caixa.selected a.expand {
  display: block;
  position: absolute;
  left: 180px;
  right: 0px;
  bottom: -39px;
  width: 130%;
  height: 80px;
  background: #eee;
  color: #036C81;
  transform: rotate(-45deg);
}
.caixa.selected a.expand span {
  display: inline;
  position: fixed;
  top: 20px;
  left: 0px;
  right: 20px;
  transform: rotate(50deg);
  font-size: 24px;
}
.caixa.selected a.expand span.minus {
  opacity: 1;
}
.caixa.selected a.expand span.plus {
  opacity: 0;
}
.caixa.selected .icon-cont {
  transform: scale(1.5,1.5);
  opacity: 0.3;
  position: absolute;
  top: -20px;
  left: -5px;
  right: 400px;
}
.caixa.selected:hover .icon-cont {
  animation: none;
}
.caixa.selected h3 {
  padding: 32px 15px 15px 15px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  
  width: 100%;
  top: 16px;
  left: 0%;
}
.caixa.selected ul.hidden {
  opacity: 1;
  margin-top: 95px;
  margin-left: 55px;
}
